<div class="navbar-fixed-to-top">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">JSON Schema Builder</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li>
            <a {{action "save"}}>Save &amp; Rerender</a>
          </li>

          {{#if showPreview}}
            <li>
              <a {{action "hidePreview"}}>Close Preview</a>
            </li>
          {{else}}
            <li>
              <a {{action "preview"}}>Preview Document</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <div class="json-editor">
          {{json-editor json=initialSchema mode="code" onChange=(action (mut currentSchema))}}
        </div>
      </div>

      {{#if showPreview}}
        {{json-editor json=previewJson mode="view"}}
      {{/if}}
    </div>

    <div class="col-xs-4 preview-column">
    {{#if schema}}
      {{#each-property properties=schema.properties document=schemaDocument recursive=true as |key property type options|}}
        {{#if options.showProperty}}
          <div class="property animated bounceIn">
            {{#if property.title}}
              <label class="property-title">{{property.title}}</label>
            {{/if}}
            {{component (concat 'schema-field-' type) key=key property=property document=schemaDocument}}
          </div>
        {{/if}}
      {{/each-property}}
    {{/if}}
    </div>
  </div>
</div>