<div class="row">
  <div class="col-xs-2 schema-index">
    <div class="panel panel-default">
      <div class="panel-heading">
        Schemas
      </div>
      <ul class="list-group">
        {{#each model as |schema|}}
          {{link-to schema.schema.title "schemas.schema" schema.id class="list-group-item"}}
        {{/each}}
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Import Schemas</div>
      <div class="panel-body">
        {{file-input importData='importData'}}
      </div>
    </div>

    {{#if model.length}}
      <div class="panel panel-default">
        <div class="panel-heading">Export Schemas</div>
        <div class="panel-body">
          <button {{action "exportAllSchemas"}} class="btn btn-default">Export {{model.length}} Schemas</button>
        </div>
      </div>
    {{/if}}

    <div class="panel panel-default">
      <div class="panel-heading">Create Schema</div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label>Handle</label>
            {{input value=newSchemaHandle class="form-control"}}
          </div>
          <div class="form-group">
            <label>Title</label>
            {{input value=newSchemaTitle class="form-control"}}
          </div>
          <div>
            <button {{action "createSchema" newSchemaHandle newSchemaTitle}} class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-10 schema-show">
    {{outlet}}
  </div>
</div>

